.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;  
}

.box {
  background-color: white;
  border: solid black;
  border-radius: 2rem;
  padding: 10px;
  width: 80%;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdownList {
  width: 200px;
}